<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="controller"/>
	
	<mvc:annotation-driven/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 拦截器 -->
	<!-- <mvc:default-servlet-handler/> -->
	<!-- <mvc:resources location="/img/" mapping="/img/**"/>
	<mvc:resources location="/myres/" mapping="/myres/**"/>
	<mvc:resources location="/lib/" mapping="/lib/**"/>
	 -->
	 <mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/" mapping="/**"/>
	
	<mvc:interceptors>
	
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/**/login"/>
			<mvc:exclude-mapping path="/**/*.js"/> 
			<mvc:exclude-mapping path="/**/*.jpg"/>
			<mvc:exclude-mapping path="/**/register"/>
			<bean class="interceptor.LoginInterceptor"/>
		</mvc:interceptor>
		
	</mvc:interceptors>
	
</beans>